body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  background-image: url(1.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  background-color: transparent;
  max-width: 400px;
  margin: auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
h2 {
  text-align: center;
  color: aliceblue;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="Password"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="submit"] {
  background-color: #030303;
  color: WHITE;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
  color: white;
  background-color: #db8534;
}
.link {
  text-align: center;
  margin-top: 15px;
}
.link a {
  color: #df7a21;
  text-decoration: none;
}
