body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
  background-image: url(1.jpg);
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 800px;
  margin: auto;
  background: rgb(186, 184, 184);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

h1,
h2 {
  color: #333;
}

form input,
form button {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  max-width: 400px;
}

#reservations {
  margin-top: 20px;
}

.reservation {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}
